#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 492px;
}

@media screen and (max-width: 992px) {
  #contact {
    align-items: center;
    height: auto;
    padding: 48px 0;
  }
}

#contact img.section-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact .container-footer {
  position: absolute;
  bottom: 72px;
  display: flex;
  align-items: flex-end;
  gap: 42px;
  width: 100%;
  max-width: 1180px;
  height: 258px;
  padding: 0 24px;
}

@media screen and (max-width: 992px) {
  #contact .container-footer {
    position: relative;
    top: 0;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 66px;
    height: auto;
  }
}

#contact .container-footer .social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  #contact .container-footer .social {
    align-items: center;
  }
}

#contact .container-footer .social .footer-font-top {
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  #contact .container-footer .social .footer-font-top {
    margin-bottom: 24px;
  }
}

#contact .container-footer .social .footer-img {
  display: flex;
  align-items: center;
  gap: 22px;
}

#contact .container-footer .menu {
  display: flex;
  gap: 66px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  #contact .container-footer .menu {
    flex-direction: column;
    text-align: center;
  }
}

#contact .container-footer .menu a,
#contact .container-footer .menu span {
  display: block;
  white-space: nowrap;
}

#contact .container-footer .menu .footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
}

#contact .container-footer .menu .footer-1 .footer-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
