footer {
  margin-top: -60px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  width: 350px;
  padding-bottom: 278px;
}

.footer img {
  grid-column: 1/2;
  max-width: 24px;
  margin-top: 163px;
  grid-row: 3;
}

.footer-img {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.footer-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.footer-1 h2,
a {
  grid-column: 1/2;
}

.container-footer {
  display: flex;
  padding-top: 162px;
  padding-left: 93px;
  max-height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  gap: 68px;
}

/*RESPONSIVO*/

@media (max-width: 991px) {
  footer {
    margin-top: -30px;
  }
  .container-footer {
    padding-top: 40px;
    padding-left: none;
  }
}

@media (max-width: 767px) {
  .container-footer {
    width: 650px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    padding: 15px 15px;
  }
  .footer-img {
    height: px;
  }
  .footer p {
    font-size: 45px;
  }
  .footer {
    gap: 0px;
    padding: 0px;
  }
  .footer-1 h2 {
    font-size: 20px;
    margin: 0px;
  }
  .footer-1 a {
    font-size: 14px;
  }
}
