header {
  padding-bottom: 20px;
}

.img-position {
  position: absolute;
  z-index: -100;
  margin-top: 0px;
}

.header-menu {
  width: 771px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
  padding-top: 21px;
}

.header-menu-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 95px;
}

.header-menu-2 p {
  grid-column: 1;
}

header div h1,
p,
header button {
  grid-column: 1;
}
header p {
  margin: 0, 9375rem 0, 625rem;
}

.button {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: playfair display;
  font-weight: 700;
  font-size: 16px;
  background-color: #f9c06a;
  color: #1e1e1e;
  width: 134px;
  height: 48px;
  border-radius: 24px;
}

header .button {
  margin-top: 10px;
}

/*RESPONSIVO*/

@media (max-width: 1225px) {
  .header-menu-2 {
    padding-top: 10px;
  }
}

@media (max-width: 991px) {
  .header-menu-2 h1 {
    font-size: 150px;
  }
  header {
    margin-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .header-menu {
    width: 600px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-menu-2 {
    width: 500px;
    height: 375px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: -70px;
    padding-top: 0px;
    padding-bottom: 70px;
    grid-template-columns: 1fr;
  }
  .header-menu-2 p {
    font-size: 18px;
  }
  .header-menu-2 h1 {
    font-size: 100px;
  }
  .header-menu-2 h2 {
    font-size: 20px;
  }
  .button {
    width: 100px;
    height: 38px;
    font-size: 13px;
  }
}
