.section-1 {
  max-width: 1201px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*margin-left: 90px;
  margin-top: 57px;*/
  margin: auto auto;
  padding: 57px;
}

.section-1 img {
  grid-column: 2;
}

.section-content p {
  margin-top: 29px;
  margin-bottom: 29px;
}
.section-content {
  margin-top: 93px;
  margin-bottom: 92px;
  margin-right: 80px;
}
.section-content h1 {
  width: 588px;
}

/*RESPONSIVO*/

@media (max-width: 991px) {
  .section-1 {
    padding: 0px 15px;
  }
}

@media (max-width: 767px) {
  .section-1 {
    padding: 0px 33.5px;
    grid-template-columns: 450px;
    align-items: center;
    margin-bottom: 40px;
  }
  .section-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .section-content h1 {
    font-size: 40px;
  }
  .section-content p {
    font-size: 15px;
    margin-top: 25px;
  }
}
