.section-abst {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4;
  grid-column: 1;
  margin: 135px 614px 135px 93px;
}

.section-img {
  position: absolute;
  z-index: -10;
}

.section-abst h1,
p {
  grid-column: 1/3;
}

.section-abst button {
  grid-column: 1;
}

.section-abst h1,
p {
  margin-bottom: 22px;
}

.section-abst a {
  margin-top: 10px;
}

/*RESPONSIVO*/

@media (max-width: 991px) {
  .section-abst {
    margin: 80px 350px auto 50px;
  }
  .section-abst h1 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .section-abst {
    margin: 40px 350px auto 50px;
  }
  .section-abst h1 {
    font-size: 35px;
  }
  .section-abst p {
    font-size: 18px;
  }
}
