header {
  position: relative;
  width: 100%;
  height: 768px;
}

@media screen and (max-width: 576px) {
  header {
    height: auto;
  }
}

.img-position {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-menu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 24px;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.header-menu.scrolled .font-small {
  transition: background-color 0.3s ease;
}

.header-menu.scrolled {
  background-color: #603809;
}

@media screen and (max-width: 576px) {
  .header-menu {
    padding: 24px;
  }

  .header-menu .logo {
    display: none;
  }
}

.header-menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 46px;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .header-menu-content {
    height: auto;
  }
}

.header-menu-content .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .header-menu-content .menu {
    gap: 20px;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 183px 24px 24px 24px;
}

@media screen and (max-width: 768px) {
  .header-content {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .header-content {
    padding: 90px 24px 60px 24px;
  }
}

.header-content p {
  max-width: 552px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header-content p {
    margin: 0 auto 20px auto;
  }

  header .button {
    margin: 0 auto;
  }
}
