.section-end {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 574px;
}

.section-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-abst {
  position: absolute;
  max-width: 659px;
  padding: 24px 24px 24px 135px;
}

.section-abst h1,
p {
  grid-column: 1/3;
}

.section-abst button {
  grid-column: 1;
}

.section-abst h1,
p {
  margin-bottom: 22px;
}

.section-abst a {
  margin-top: 10px;
}

/*RESPONSIVO*/

@media (max-width: 1086px) {
  .section-end {
    height: 395px;
  }
  .section-abst {
    padding-left: 80px;
    max-width: 400px;
  }
  .section-abst h1 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .section-abst {
    padding-left: 40px;
  }

  .section-abst p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .section-end {
    height: 300px;
  }
  .section-abst {
    padding-left: 24px;
    max-width: 300px;
  }
  .section-abst p {
    font-size: 15px;
  }
}

@media (max-width: 468px) {
  .section-img {
    object-position: left;
  }

  .section-abst {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
  }
}
