.section-1 {
  max-width: 1201px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*margin-left: 90px;
  margin-top: 57px;*/
  margin: auto auto;
  padding: 57px;
}

.section-1 img {
  grid-column: 2;
}

.section-content p {
  margin-top: 29px;
  margin-bottom: 29px;
}
.section-content {
  margin-top: 93px;
  margin-bottom: 92px;
  margin-right: 80px;
}
.section-content h1 {
  width: 588px;
}
