.section-assin {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 374px;
  padding: 24px;
}

.section-assin img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-assin .section-assin-top {
  position: absolute;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  .section-assin .section-assin-top {
    position: relative;
  }
}
.section-assin .section-assin-top h2 {
  margin-bottom: 22px;
}

@media screen and (max-width: 992px) {
  .section-assin .section-assin-top h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .section-assin .section-assin-top h2 {
    font-size: 28px;
  }
}

.section-assin .section-assin-top p {
  line-height: 34px;
  margin-bottom: 26px;
}

@media screen and (max-width: 992px) {
  .section-assin .section-assin-top p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .section-assin .section-assin-top p {
    font-size: 16px;
  }
}

.section-assin .section-assin-top .section-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 642px;
  height: 66px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: rgba(249, 192, 106, 0.22) 0px 6px 12px;
}

@media screen and (max-width: 992px) {
  .section-assin .section-assin-top .section-input {
    max-width: 400px;
    height: 48px;
  }
}

.section-assin .section-assin-top .section-input input {
  width: 100%;
  height: 100%;
  padding: 20px 16px;
  border-radius: 4px 0 0 4px;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  border: none;
  outline: none;
  background-color: #fff9f1;
  color: #000;
}

.section-assin .section-assin-top .section-input input::placeholder {
  font-family: "Playfair Display", sans-serif;
  color: rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 768px) {
  .section-assin .section-assin-top .section-input input,
  .section-assin .section-assin-top .section-input input::placeholder {
    font-size: 16px;
  }
}

.section-assin .section-assin-top .section-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 137px;
  height: 100%;
  margin-left: -4px;
  padding: 16px 24px;
  border-radius: 4px;
  font-family: "Playfair Display", sans-serif;
  font-size: 22px;
  font-weight: 600;
  background-color: #f9c06a;
  color: #603809;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section-assin .section-assin-top .section-input button {
    font-size: 16px;
  }
}
