.section-1 {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
}

.section-1 .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  max-width: 1200px;
  margin: 92px auto;
}

@media screen and (max-width: 992px) {
  .section-1 .section-content {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 24px auto;
  }
}

.section-1 .section-content h1 {
  min-width: 588px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .section-1 .section-content h1 {
    min-width: 0;
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .section-1 .section-content h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .section-1 .section-content h1 {
    text-align: center;
  }
}

.section-1 .section-content p {
  max-width: 586px;
  margin-top: 29px;
  margin-bottom: 29px;
}

@media screen and (max-width: 992px) {
  .section-1 .section-content .section-text {
    order: 2;
  }

  .section-1 .section-content p {
    max-width: 100%;
    text-align: center;
  }

  .section-1 .section-content a {
    margin: 0 auto;
  }
}

.section-1 .section-content img {
  width: 100%;
  max-width: 533px;
}

@media screen and (max-width: 992px) {
  .section-1 .section-content .img-container {
    margin: 0 auto;
    padding-right: 64px;
  }

  .section-1 .section-content img {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .section-1 .section-content .img-container {
    padding-right: 0;
  }
}
