header {
  padding-bottom: 20px;
}

.img-position {
  position: absolute;
  z-index: -100;
  margin-top: 0px;
}

.header-menu {
  width: 771px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 93px;
  padding: 21px 0px 0px 0px;
}

.header-menu-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 95px;
  margin-bottom: 95px;
  margin-left: 93px;
  margin-right: 93px;
}

.header-menu-2 p {
  grid-column: 1;
}

header div h1,
p,
header button {
  grid-column: 1;
}
header p {
  margin: 15px 10px;
}

.button {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: playfair display;
  font-weight: 700;
  font-size: 16px;
  background-color: #f9c06a;
  color: #1e1e1e;
  width: 134px;
  height: 48px;
  border-radius: 24px;
}
